div{
  background-color: #DC9750 ;

}
.logo, .title{
  float: left;
  margin-left: 20px;
  color:#922C40
}
.title{
  vertical-align: middle;
  margin-left: 40px;
}
.form{
  clear: both;
  padding-top: 40px;
  padding-left: 40px;
  background-color: #F3EAC0;
  height: 600px;
  position: relative;

}
.card{
  padding: 20px;
  padding-left: 9px;
  margin-left: 50px;
  position: absolute;
  top: 220px;
  border: solid;
  border-radius: 10px;
  border-color: #1E2640;
  color: #1E2640  ;
  font-weight: bold;
}
#textForm{
  padding:7px;
  margin-top: 10px;
}
#button {
  margin-left: 20px;
  padding:5px;
  border-radius: 14px;
  background-color: #DC9750;
}
#button:hover{
  background-color:#F3EAC0 ;
}
#button:active{
font-weight: bolder;
}
#cardImg{
  border-radius: 10px;
}
